  <div id="workoutEdit">
    <form action="/" method="post" id="workoutForm">
      <fieldset>
        <legend>Workout Edit Form</legend>
        {{!-- used handlebars array templating for simplicity since ajax call not required --}}
    {{#each editedLog}}
        <input type="hidden" name="id" value="{{this.id}}">
        <label for="name">Name:</label>
        <input type="text" name="name" id="entryName" value="{{this.name}}" required>*required<br>
       
        <label for="reps">Reps:</label>
        <input type="number" name="reps" id="entryReps" value="{{this.reps}}"><br>
       
        <label for="weight">Weight:</label>
        <input type="number" name="weight" id="entryWeight" value="{{this.weight}}"><br>
       
        <label for="date">Date:</label>
        <input type="date" name="date" id="entryDate" value="{{this.date}}"><br>
       
        <label for="scale">Units:</label>
        <input type="number" name="scale" value="{{this.scale}}" id="entryUnits0">0 = lbs 1 = kgs
    {{/each}}
        <button type="submit" name="ProcessWorkout" value="ProcessWorkout" class="submitButton">Save</button>
      </fieldset>
    </form>
  </div>
