  <div id="workoutEntry">
    <form action="/" method="post" id="workoutForm">
      <fieldset>
        <legend>Workout Entry Form</legend>
        <label for="name">Name:</label>
        <input type="text" name="name" id="entryName" required>*required<br>
       
        <label for="reps">Reps:</label>
        <input type="number" name="reps" id="entryReps"><br>
       
        <label for="weight">Weight:</label>
        <input type="number" name="weight" id="entryWeight"><br>
       
        <label for="date">Date:</label>
        <input type="date" name="date" id="entryDate"><br>
       
        <label for="scale">Units:</label>
        <input type="number" name="scale" id="entryScale" >0 = lbs 1 = kgs<br>
        
        <button type="button" name="AddWorkout" value="AddWorkout" class="submitButton" id="entryButton" onclick="handlers.clickAddEntry()">
          Submit</button>
      </fieldset>
    </form>
  </div>

  <div id="workoutDisplay">
    <table id="workoutTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Reps</th>
          <th>Weight</th>
          <th>Date</th>
          <th>Units</th>
        </tr>
      </thead>
    <tbody id="workoutTableBody">
    {{#each workoutLog}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.reps}}</td>
        <td>{{this.weight}}</td>
        <td>{{this.date}}</td>
        <td>{{this.scale}}</td>
        <td>
          <form action="/" method="post">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit" name="EditWorkout" value="EditWorkout" class="submitButton">Edit</button>
          </form>
          <form action="/" method="post">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="button" name="DeleteWorkout" value="DeleteWorkout" class="submitButton" onclick="handlers.clickDeleteEntry({{this.id}})">Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
    </tbody>
    </table> 
  

